:host{
    &>div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        h1{
            font-family: sans-serif;
            width: 100%;
            text-align: center;
        }

        app-timer{
            flex-grow: 1;
        }
    }
}