<div>
  <h1>Timers</h1>
  <app-timer init="3" (onComplete)="logCountdownEnd()"></app-timer>
  <app-timer init="20" (onComplete)="logCountdownEnd()"></app-timer>
  <app-timer init="185" (onComplete)="logCountdownEnd()"></app-timer>

  <button class="add" (click)="showAddTimer()">+</button>

  <app-alert-view [hidden]="!isAddTimerVisible">
    <div header>Add timer</div>    
    <label>Set the number of seconds for your timer</label>
    <input [(ngModel)]="time" type="number">
    <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
    <button>Ok</button>
  </app-alert-view>
  
</div>